
class {
  onCreate(input) {
    this.state = {
      active: false
    }
  }

  onInput(input) {
    this.state.active = input.active;
  }
}

<div.dropdown class=[(input.right &&  "dropdown-right"), {active: state.active}]>
  <kw-button.dropdown-toggle ${input["*"]} tabindex="0">
    <include(input.selection.renderBody) />
  </kw-button>
  <kw-menu>
    <@item for(item in input.items)>
      <include(item.renderBody) />
    </@item>
  </kw-menu>
</div>
