

// examples
// kind of an addon/mixin
<span.badge class=input.class data-badge=input.badge>
  <include(input.renderBody) />
</span>

// doesnt work yet .. think alt ideas
<!-- <span if(!input.label)>
  <include(input.renderBody) class=["badge", input.class] data-badge=input.content />
</span> -->

// could maybe do this to allow badge on the el?
// prob easier just to use classes here .. noodle on it
// <include(input.renderBody) class=input.class data-badge=input.content />
