

// examples
// not sure we can do this without some more reading ...
// do we invert this? leave it as just a class ???

// kind of an addon/mixin

<span class="badge">
  <include(input.renderBody)/>
</span>

<span class="badge" data-badge="8">
  Notifications
</span>

<button class="btn badge" data-badge="8">
  Button
</button>

<figure class="avatar badge" data-badge="8" data-initial="YZ">
  <img src="img/avatar-3.png" alt="YZ" />
</figure>
