<header.navbar class=[input.class] ${input['*']}>
  <section.navbar-section for(section in input.sections) class={"navbar-center": section.center}>
    <include(section.renderBody)/>
  </section>
</header>
