<figure.avatar class=[input.class, (input.size && 'avatar-' + input.size), (input.badge && 'badge')] data-badge=input.badge>
  <img src=input.src />
  <!-- <img if(input.icon) src=input.src class=["avatar-icon", input.class] /> -->
</figure>
