
<!-- both til i make a decision on the api ... -->
$ var type = {
  'btn-primary': input.primary,
  'btn-link': input.link
};

<!--  i guess we let this one win-->
<!-- $ if(input.type) {type['btn-' + input.type] = true}; -->

<button.btn class=type>
  <include(input.renderBody) />
</button>
