<!-- not making meter yet or slider   -->
<div.bar class=[input.class, (input.size && "bar-" + input.size)] ${input["*"]} tooltip=input.tooltip value=input.value>
  <div.bar-item class=["tooltip"] data-tooltip=(input.tooltip || input.value + "%") role="progressbar" style={width: input.value +"%;"}>
  </div>
</div>
