
<div.popover class=[input.class, (input.position && 'popover-' + input.position)]>
  <!-- this is the trigger item; maybe be explicit? -->
  <include(input.renderBody) />
  <!-- both til i make a decision on the 'api'  -->
  <div.popover-container if(input.content)>
    <include(input.content) />
  </div>
</div>
